@import "./variables";
@import "./animation";

/* HEADER */
header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $quaternaryColor;
    height: 60px;
    width: 100%;
    font-family: $primaryFont;
    .header_brand{
        display: flex;
        text-transform: uppercase;
        justify-content: center;
        padding-top: 15px;
        h2{
            padding-right: 7px;
            color: $tertiaryColor;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: 2px;
        }
        h3{
            letter-spacing: 2px;
            font-size: 15px;
            font-weight: 600;
            color: $secondaryColor;
        }
    }
    .header_buttons{
        text-transform: uppercase;
        padding-top: 8px;
        ul{
            display: flex;
            justify-content: center;
            font-size: 12px;
            letter-spacing: 1px;
            li{
                list-style: none;
                padding: 0px 10px 0px;
                animation: slideTop 1s ease forwards;
                a{
                    color: $tertiaryColor;
                    &:hover{
                        color: $tertiaryColor;
                        text-decoration: none;
                    }
                    &::after{
                        content: '';
                        display: block;
                        width: 0;
                        height: 1px;
                        background: $secondaryColor;
                        color: $tertiaryColor;
                        transition: width .3s;
                        margin-top: 3px;
                    }
                    &:hover::after{
                        width: 100%;
                    } 
                }
            }
        }
    }
    .header_icons{
        display: none;
    }
}

@media only screen and (min-width: 1000px){ /* DESKTOP */
    /*HEADER*/
    header{
        height: 70px;
        width: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px 0 120px;
        .header_brand{
            align-self: center;
            padding-top: 0px;
        }
        .header_right{
            display: flex;
            .header_buttons{
                padding: 0px;
                ul{
                    padding-right: 30px;
                    padding-top: 4px;
                }
            }
        }   
    }
}
