@import "./variables";

/* HEADER */
header{
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgba( 11, 11, 11, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    height: 70px;
    width: 100%;
    .header_brand{
        display: flex;
        text-transform: uppercase;
        justify-content: center;
        padding-top: 15px;
        h2{
            padding-right: 7px;
            font-family: $primaryFont;
            color: $tertiaryColor;
            font-size: 15px;
            letter-spacing: 2px;
        }
        h3{
            font-family: $primaryFont;
            letter-spacing: 2px;
            font-size: 15px;
            color: $secondaryColor;
        }
    }
    .header_buttons{
        text-transform: uppercase;
        padding-top: 8px;
        ul{
            display: flex;
            justify-content: center;
            font-family: $secondaryFont;
            font-size: 12px;
            letter-spacing: 1px;
            li{
                list-style: none;
                padding: 0px 10px 0px;
                a{
                    color: $tertiaryColor;
                    &:hover{
                        color: $tertiaryColor;
                    }
                    &::after{
                        content: '';
                        display: block;
                        width: 0;
                        height: 1px;
                        background: $secondaryColor;
                        color: $tertiaryColor;
                        transition: width .5s;
                    }
                    &:hover::after{
                        width: 100%;
                    }
                }
            }
        }
    }
    .header_icons{
        display: none;
    }
}

@media only screen and (min-width: 1000px){ /* DESKTOP */
    /*HEADER*/
    header{
        height: 60px;
        width: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px 0 120px;
        .header_brand{
            align-self: center;
            padding-top: 0px;
        }
        .header_right{
            display: flex;
            .header_buttons{
                padding: 0px;
                ul{
                    padding-right: 30px;
                    padding-top: 4px;
                }
            }
        }   
    }
}
