@import "./variables";

/* MAIN */

// TERTIARY
#tertiary_content{
    padding: 100px 0px;
    #projects{
        width: 100%;
        height: auto;
        font-family: $primaryFont;
        cursor: pointer;
        .projects_text{
            color: $secondaryColor;
            margin: 20px 0px 0px;
            text-align: center;
            h1{
                font-weight:700;
                font-size: 30px;
                letter-spacing: 2px;
                padding: 30px 0px;
            }
        }
        .project{
            margin: auto;
            width: 80%;
            min-height: 400px;
            padding: 150px 70px 0px;
            &:hover{
                h2, p {
                    opacity: 1;
                }
            }
            h2, p{
                text-align: center;
                font-family: $primaryFont;
                font-size: 30px;
                font-weight: 600;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                color: $tertiaryColor;
            }
            p{
                margin-top: 20px;
                font-size: 18px;
                line-height: 20px;
            }
        }
    }
}

//PROJECTS 
//QUIZ MAGUS
#magus {
    position: relative;
    overflow: hidden;
}
#magus::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/projects_wallpaper/quiz_magus.png);
    background-size: cover;
    transition: filter 0.3s ease-in-out;
    filter: none;
    z-index: -1;
}
#magus:hover::before {
    filter: blur(5px);
    opacity: 0.3;
}

//Add a new project